__pycache__/emlparser.cpython-35.pyc
__pycache__/EnglishProcessor.cpython-35.pyc
__pycache__/turkceStopWords.cpython-35.pyc
__pycache__/TurkishProcessor.cpython-35.pyc
__pycache__/util.cpython-35.pyc
data/english
data/turkish
